$default_space_xxxs: 2px;
$default_space_xxs: 4px;
$default_space_xs: 8px;
$default_space_s: 12px;
$default_space_m: 16px;
$default_space_l: 20px;
$default_space_xl: 24px;
$default_space_xxl: 32px;
$default_space_xxxl: 40px;
$default_space_xxxxl: 48px;

$gap: $default_space_m; // default gap

.theme_gap_small {
  $gap: $default_space_m;
  @media (min-width: $default_breakpoint-desktop) {
    $gap: $default_space_xxxl;
  }
}