$project-default-bg-default: #FFFFFF;
$project-default-bg-accent: #0056B3;
$project-default-bg-border: #000000;

$project-default-fc-primary: #FFFFFF;
$project-default-fc-secondary: rgba(255, 255, 255, 0.6);
$project-default-fc-complementary: rgba(255, 255, 255, 0.3);
$project-default-fc-link: #FFFFFF;