$project-default-bg-default: #FFFFFF;
$project-default-bg-accent: #0056B3;
$project-default-bg-border: #000000;

$project-default-fc-primary: #FFFFFF;
$project-default-fc-secondary: rgba(255, 255, 255, 0.6);
$project-default-fc-complementary: rgba(255, 255, 255, 0.3);
$project-default-fc-link: #FFF;

$project-inverse-bg-default: #000000;
$project-inverse-bg-accent: #FFFFFF;
$project-inverse-bg-border: #FFFFFF;

$project-inverse-fc-primary: #FFFFFF;
$project-inverse-fc-secondary: rgba(255, 255, 255, 0.6);
$project-inverse-fc-complementary: rgba(255, 255, 255, 0.3);
$project-inverse-fc-link: #0070f0;

$project-warning-bg-default: #FF9900;
$project-warning-bg-accent: #FFFFFF;
$project-warning-bg-border: #FFFFFF;

$project-warning-fc-primary: #FFFFFF;
$project-warning-fc-secondary: rgba(255, 255, 255, 0.6);
$project-warning-fc-complementary: rgba(255, 255, 255, 0.3);
$project-warning-fc-link: #FFF;

$project-megafon-bg-default: #1FA55D;
$project-megafon-bg-accent: #FFFFFF;
$project-megafon-bg-border: #FFFFFF;

$project-megafon-fc-primary: #FFFFFF;
$project-megafon-fc-secondary: rgba(255, 255, 255, 0.6);
$project-megafon-fc-complementary: rgba(255, 255, 255, 0.3);
$project-megafon-fc-link: #FFF;