@import "theme/variables";

.theme {
  &_color_project-default {
    &__block {
      &_default { background: $project-default-bg-default; }
      &_accent { background: $project-default-bg-accent; }
      &_border { background: $project-default-bg-border; }
    }
    &__text {
      &_primary { color: $project-default-fc-primary; }
      &_secondary { color: $project-default-fc-secondary; }
      &_complementary { color: $project-default-fc-complementary; }
      &_link { color: $project-default-fc-link; }
    }
  }
  &_color_project-inverse {
    &__block {
      &_default { background: $project-inverse-bg-default; }
      &_accent { background: $project-inverse-bg-accent; }
      &_border { background: $project-inverse-bg-border; }
    }
    &__text {
      &_primary { color: $project-inverse-fc-primary; }
      &_secondary { color: $project-inverse-fc-secondary; }
      &_complementary { color: $project-inverse-fc-complementary; }
      &_link { color: $project-inverse-fc-link; }
    }
  }
  &_color_project-warning {
    &__block {
      &_default { background: $project-warning-bg-default; }
      &_accent { background: $project-warning-bg-accent; }
      &_border { background: $project-warning-bg-border; }
    }
    &__text {
      &_primary { color: $project-warning-fc-primary; }
      &_secondary { color: $project-warning-fc-secondary; }
      &_complementary { color: $project-warning-fc-complementary; }
      &_link { color: $project-warning-fc-link; }
    }
  }
  &_color_megafon-brand {
    &__block {
      &_default { background: $megafon-brand-bg-default; }
      &_accent { background: $megafon-brand-bg-accent; }
      &_border { background: $megafon-brand-bg-border; }
    }
    &__text {
      &_primary { color: $megafon-brand-fc-primary; }
      &_secondary { color: $megafon-brand-fc-secondary; }
      &_complementary { color: $megafon-brand-fc-complementary; }
      &_link { color: $megafon-brand-fc-link; }
    }
  }

  &_size_default{
    &_s { font-size: $default_fs_s; line-height: $default_lh_s; }
    &_m { font-size: $default_fs_m; line-height: $default_lh_m; }
    &_l { font-size: $default_fs_l; line-height: $default_lh_l; }
    &_xl { font-size: $default_fs_xl; line-height: $default_lh_xl; }
    &_xxl { font-size: $default_fs_xxl; line-height: $default_lh_xxl; }
  }

  &_space_default {
    &__block {
      &_xxxs { margin-top: $default_space_xxxs; }
      &_xxs { margin-top: $default_space_xxs; }
      &_xs { margin-top: $default_space_xs; }
      &_s { margin-top: $default_space_s; }
      &_m { margin-top: $default_space_m; }
      &_l { margin-top: $default_space_l; }
      &_xl { margin-top: $default_space_xl; }
      &_xxl { margin-top: $default_space_xxl; }
      &_xxxl { margin-top: $default_space_xxxl; }
      &_xxxxl { margin-top: $default_space_xxxxl; }
    }
  }

  &_breakpoint_default {
    display: flex;
    flex-direction: column;

    @media (min-width: $default_breakpoint-desktop) {
      /* В задании не было указано, как отображаются блоки на десктопе;
         Я решила, что flex - это подходящее решение */
      flex-direction: row;
    }
  }

  &_gap_small {
    $gap: $default_space_m;

    @media (min-width: $default_breakpoint-desktop) {
      $gap: $default_space_xxxl;
    }

    padding-left: $gap / 2;
    padding-right: $gap / 2;
  }

}