$project-default-bg-default: #FFFFFF;
$project-default-bg-accent: #0056B3;
$project-default-bg-border: #000000;

$project-default-fc-primary: #FFFFFF;
$project-default-fc-secondary: rgba(255, 255, 255, 0.6);
$project-default-fc-complementary: rgba(255, 255, 255, 0.3);
$project-default-fc-link: #FFF;

$project-inverse-bg-default: #000000;
$project-inverse-bg-accent: #FFFFFF;
$project-inverse-bg-border: #FFFFFF;

$project-inverse-fc-primary: #FFFFFF;
$project-inverse-fc-secondary: rgba(255, 255, 255, 0.6);
$project-inverse-fc-complementary: rgba(255, 255, 255, 0.3);
$project-inverse-fc-link: #0070f0;

$project-warning-bg-default: #FF9900;
$project-warning-bg-accent: #FFFFFF;
$project-warning-bg-border: #FFFFFF;

$project-warning-fc-primary: #FFFFFF;
$project-warning-fc-secondary: rgba(255, 255, 255, 0.6);
$project-warning-fc-complementary: rgba(255, 255, 255, 0.3);
$project-warning-fc-link: #FFF;

$megafon-brand-bg-default: #1FA55D;
$megafon-brand-bg-accent: #FFFFFF;
$megafon-brand-bg-border: #FFFFFF;

$megafon-brand-fc-primary: #FFFFFF;
$megafon-brand-fc-secondary: rgba(255, 255, 255, 0.6);
$megafon-brand-fc-complementary: rgba(255, 255, 255, 0.3);
$megafon-brand-fc-link: #FFF;

$default_fs_s: 7px;
$default_fs_m: 8px;
$default_fs_l: 10px;
$default_fs_xl: 11px;
$default_fs_xxl: 13px;

$default_lh_s: 18px;
$default_lh_m: 21px;
$default_lh_l: 25px;
$default_lh_xl: 28px;
$default_lh_xxl: 34px;

$default_space_xxxs: 2px;
$default_space_xxs: 4px;
$default_space_xs: 8px;
$default_space_s: 12px;
$default_space_m: 16px;
$default_space_l: 20px;
$default_space_xl: 24px;
$default_space_xxl: 32px;
$default_space_xxxl: 40px;
$default_space_xxxxl: 48px;

$default_breakpoint-desktop: 1144px;