.section {
  &_indent-b_xxl { margin-bottom: $default_space_xxl; }
  &_indent-b_xxxxl { margin-bottom: $default_space_xxxxl; }
  &_space-v_xxl { padding-top: $default_space_xxl; padding-bottom: $default_space_xxl; }
  &_space-v_xxxxl { padding-top: $default_space_xxxxl; padding-bottom: $default_space_xxxxl; }
}